img[src=""] {
    display: none;
}

.angle-text {
}

.angle-holder {
    height: 5em !important;
}

.angle-display {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.angle-pointer {
    width: 12%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
