.screen {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 1;
}

.background {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}

.im-logo {
    width: 10em !important;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.customer-select {
    width: 33%;
    height: 14vh;
    z-index: 1;
    background-color: #fffcf9;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 2em;
}

.customer-select-title {
    width: 100%;
    font-size: 120%;
    margin-top: 0.3em;
    display: inline-block;
}

.customer-select-input {
    width: 70% !important;
    height: 10% !important;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.customer-select-dropdown {
    height: 4vh !important;
}

.proceed-holder {
    width: fit-content;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.proceed {
    width: 10vw;
    z-index: 1;
    margin-left: 23vw;
    position: relative;
    border-radius: 2em !important;
}

.proceed-img {
    width: 10%;
    margin-bottom: 0.2vh;
    margin-left: 0.5vw;
}
