.u-container {
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
    border-bottom: 0.1em solid black;
    text-align: center;
}

.u-value {
    font-weight: bold;
    font-size: 90%;
}

.u-subtitle {
    font-weight: bold;
    font-size: 90%;
}

.add-top-separater {
    border-top: 1px solid lightgray;
}
